<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>angular-maps</h1>
      
      <agm-map [latitude]="defaultLat" 
              [longitude]="defaultLng"
              [zoom]="zoom"
              [disableDefaultUI]="false"
              [zoomControl]="false"
              (mapClick)="mapClicked($event)">

        <agm-marker *ngFor="let marker of markers; let i = index"
                    [latitude]="marker.lat"
                    [longitude]="marker.lng"
                    [markerDraggable]="marker.draggable"
                    (dragEnd)="markerDragEnd(marker, $event)">
          <agm-info-window>
            <strong>CURRENT LOCATION</strong>
            <br>lat: {{ marker.lat }}
            <br>lng: {{ marker.lng }}
          </agm-info-window>          
        </agm-marker>
      </agm-map>

      <div class="pt-2 text-start">
        <button type="button" class="btn btn-primary" (click)="setCurrentLocation()">SET CURRENT LOCATION</button>
      </div>
    </div>
  </div>

</div>

<router-outlet></router-outlet>
